<div class="container">
  <h1><%= @restaurant.name %></h1>
  <div class="rating">
    <% @restaurant.average_rating.to_i.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
  </div>
    <h5> <%= @restaurant.name %></h5>
    <p> <%= @restaurant.address %></p>
    <p> Type of cuisine: <%= @restaurant.category.capitalize %></p>

    <h3>What customers say about it</h3>
    <ol>
    <% @restaurant.reviews.each do |review | %>
    <li> <%= review.content %></li>
    <% end %>
    </ol>
</div>
